
@{
    ViewBag.Title = "TutorInvitation";
}

<h2>Майже готово...</h2>

<div class="jumbotron">
    <p>
        Шановний викладач, перед тим як продовжити роботу необхідно підтвердити Вашу особу.
        Ми повідомимо, Вас коли Ви зможете розпочати свою роботу.
    </p>
</div>

