@{
    ViewBag.Title = "Home Page";
}


<br/>
<br/>
<div class="jumbotron">
    <h1>Проведення лекцій</h1>
    <p class="lead">Курсова робота, що дозволяє автоматизувати процес проведення лекцій</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Крок 1:</h2>
        <p>
            Зареєструйтесь як студент чи викладач.
        </p>        
    </div>
    <div class="col-md-4">
        <h2>Крок 2:</h2>
        <p>
            Отримуйте доступ до матеріалів лекцій будь-де і будь-коли.
        </p>        
    </div>
    
</div>