@{
    ViewBag.Title = "Проведення лекцій";
}



<div ng-app="atLectures">
   <ng-view></ng-view>
</div>

@section  scripts{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/app/scripts/atLectures.js"></script>
    <script src="~/Scripts/app/scripts/StudentController.js"></script>
    <script src="~/Scripts/app/scripts/moreAboutLectureController.js"></script>
}